<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/css/style.css' />
    <title>Signin</title>
</head>

<body>

    <header>
        <div class="homeContainer">
            <div class="title">
        <h1>The Halal Guys</h1>
                </div>
                <div class="anchor">
        <h1><a href="/">Home</a></h1>
        </div>
    </div>
</header>
<div class="createMain">
<fieldset class="createContainer">
    <legend>Login</legend>
    <form action="/users/login" method="POST">
        Username: <input type="text" name="username" id="username"><br />
        Password: <input type="password" name="password" id="password"><br />
        <input type="submit" value="Login" id="login">
    </form>
</fieldset>
</div>
</div>
</body>

</html>