<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/css/style.css' />
    <title>Create</title>
</head>

<body>
    <header>
        <div class="homeContainer">
            <div class="title">
        <h1>The Halal Guys</h1>
                </div>
                <div class="anchor">
        <h1><a href="/">Home</a></h1>
        </div>
    </div>
</header>

<div class="createMain">
<fieldset class="createContainer">
    
    <legend>Create New Admin User</legend>
    <form action="/users/signup" method="POST">
        Username: <input type="text" name="username" /><br />
        Password: <input type="password" name="password" /><br />
        <input type="submit" value="Signup" />
    </form>
</fieldset>

</div>
</div>
</body>

</html>